<div class="container-fluid container-diff">

    <hr />
    <div *ngIf="isCompared" class="row">
        <div class="col-md-11">
            <form class="form-inline " role="form">
                <label for="lang" class="mb-2 mr-sm-2">Language:</label>
                <select id="lang" name="lang" class="form-control mb-2 mr-sm-2" [(ngModel)]="selectedLang" (change)="onChangeLanguage($event.target.value)">
        <option *ngFor="let option of languages" [value]="option">{{
          option
        }}</option>
      </select>
                <label for="theme" class="mb-2 mr-sm-2">Theme:</label>
                <select id="theme" name="theme" class="form-control mb-2 mr-sm-2" [(ngModel)]="selectedTheme" (change)="onChangeTheme($event.target.value)">
        <option *ngFor="let option of themes" [value]="option.value">{{
          option.name
        }}</option>
      </select>
                <div class="form-check mb-2 mr-sm-2">
                    <label class="form-check-label">
          <input
            class="form-check-input "
            type="checkbox"
            (change)="onChangeInline($event.target.checked)"
          />
          Inline Diff
        </label>
                </div>
            </form>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-danger float-md-right" (click)="onClear()">
      Clear
    </button>
        </div>
    </div>
    <div *ngIf="isCompared" class="row">
        <div class="col-md-12 editor editor-size">
            <ngx-monaco-diff-editor id="diffeditor" [options]="diffOptions" [originalModel]="originalModel" [modifiedModel]="modifiedModel"></ngx-monaco-diff-editor>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align:center; margin:10px 0px">
            <button type="button" class="btn btn-success" (click)="onCompare()">
      Compare
    </button>
        </div>
    </div>
    <!-- <div class="row"> -->
    <!-- //omnamhshiway -->
    <div class="row" style="max-width: fit-content;">
        <div class="col" style="max-width: 600px; min-width: 600px; ">
            <label>First</label>
            <div class="row choose">
                <div class="input-group">
                    <input type="file" class="form-control" id="file1" aria-describedby="inputGroupFileAddon05" aria-label="Upload" (change)="onFileSelected1()">

                </div>

                <div class="test" style='position: relative; max-height: 600px;  border-style: solid; 
      scroll-behavior: auto; border-radius: 3px; border-color: brown;'>


                    <pdf-viewer [src]='pdfSrc1' [show-all]="true" [autoresize]="true" [original-size]='true' [fit-to-page]='true' [render-text]='true' (page-rendered)="pageRendered1($event)"></pdf-viewer>

                    <!-- <ejs-pdfviewer  #pdfViewer id="pdfViewer" [documentPath]='document' 
         (extractTextCompleted)='extractTextCompleted($event)' [isExtractText]=true
          style="height:640px;display:block"></ejs-pdfviewer> -->

                </div>
            </div>


            <!-- <div class="test">
      <pdf-viewer [src]="pdfSrc" [render-text]="true" style="width: 70px; height: 90px;"
          [fit-to-page]='true'></pdf-viewer>
  </div> -->

        </div>
        <!-- //omnamhshiway -->
        <div class="col" style="max-width: 600px; min-width: 600px; ">
            <label>second</label>
            <div class="row choose">
                <div class="input-group">
                    <input type="file" class="form-control" id="file2" aria-describedby="inputGroupFileAddon04" aria-label="Upload" (change)="onFileSelected2()">
                </div>
                <div class="test" style='position: relative; max-height: 600px;  border-style: solid; 
      scroll-behavior: auto; border-radius: 3px; border-color: brown;'>

                    <pdf-viewer [src]='pdfSrc2' [show-all]="true" [autoresize]="true" [original-size]='true' [fit-to-page]='true' [render-text]='true' (page-rendered)="pageRendered2($event)"></pdf-viewer>

                    <!-- <ejs-pdfviewer #pdfViewer id="pdfViewer" [documentPath]='document' 
      (extractTextCompleted)='extractTextCompleted($event)' [isExtractText]=true
       style="height:640px;display:block"></ejs-pdfviewer> -->
                </div>

            </div>




        </div>
    </div>



    <!-- <div class="row">
        <div class="col-md-6 editor-size">
            <div class="input-title">
                <label>Text1</label>
            </div>

            <ngx-monaco-editor id="editor1" [options]="inputOptions" [(ngModel)]="text1"></ngx-monaco-editor>


        </div>
        <div class="col-md-6 editor-size">
            <div class="input-title">
                <label>Text2</label>
            </div>


            <ngx-monaco-editor id="editor2" [options]="inputOptions" [(ngModel)]="text2"></ngx-monaco-editor>


        </div>
    </div> -->
</div>
<br />
<br />