.title {
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: rgb(177, 208, 236);
    font-family: "Trirong", serif;
}

h1 {
    align-items: center;
    max-width: 100%;
    font-family: "Trirong", serif;
}

button {
    padding: 10px;
    margin: 10px;
    background: mediumaquamarine;
}

.row {
    max-width: 100%;
    max-height: fit-content;
}

.sonali {
    height: max-content;
    width: max-content;
    margin-top: 200px;
    margin-left: 450px;
}