<!-- <div class="mainpage">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>  -->
<!-- <div class="title">
    <a style="align-items: flex-end;" class="nav-link nav-home" routerLink="/">Home</a>
    <h1> Allscripts PDF Comparison </h1>
</div> -->

<div class="header">

    <div class="header-right">
        <a class="active" href="#home">Home</a>
    </div>
    <a href="#default" class="logo">Allscripts PDF Comparison</a>
</div>
<div class="container">
    <router-outlet></router-outlet>

</div>